<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809933482581-l9s2drjqftuvh6foalk5o70lhok4vsgb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809933482581-l9s2drjqftuvh6foalk5o70lhok4vsgb</string>
	<key>API_KEY</key>
	<string>AIzaSyCLc_WDGVrhDl2QjoCyjpv16RxUju0EMow</string>
	<key>GCM_SENDER_ID</key>
	<string>809933482581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cannachange.cannachange</string>
	<key>PROJECT_ID</key>
	<string>cannachange</string>
	<key>STORAGE_BUCKET</key>
	<string>cannachange.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809933482581:ios:d5793737da424d9bd542dc</string>
</dict>
</plist>